{% extends "base.html" %}
{% load static %}

{% block title %}Просто магазин / {{ current_section }}{% endblock %}

{% block main %}
<main role="main">

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ product.title }}</h2>
                <img src="{{ product.picture.url }}" width="300">
                <p>{{ product.description }}</p>
                <form method="POST" action="">{% csrf_token %}
                    <input type="hidden" name="add_to_cart" value="{{ product.pk }}">
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
                {% for item in product.reviews.all %}
     
                {% for i in 'x'|rjust:item.mark %}★{% endfor %} <span>{{item.name}}</span>

                <p>{{item.description}}</p>

                {% empty %}

                <p>Никто еще не оставил отзывов</p>

                {% endfor %}

                <hr>

                
                    <h4>Оставьте отзыв:</h4>

                    <form action="" method="POST">
                        {% csrf_token %}

                        {{ form.as_p }}
                        
                        <button type="submit" class="btn btn-secondary">Оставить отзыв »</button>
                    </form>
            
    </div>

</main>
{% endblock %}