{% extends "base.html" %}
{% load static %}

{% block title %}Просто магазин / {{ current_section }}{% endblock %}

{% block main %}
<main role="main">

  <div class="container">
    <h1>{{ current_section }}</h1>
    
    <div class="row">

        {% if product_list %}
        
            {% for product in product_list %}         

                  <div class="col-md-4">
                      <h3>{{ product.title }}</h3>
                      <a href="{% url 'product' product.pk %}">
                        <img src="{{ product.picture.url }}" width="180">
                      </a>
                      <form method="POST" action="">{% csrf_token %}
                        <input type="hidden" name="add_to_cart" value="{{ product.pk }}">
                        <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                      </form>
                  </div> 
             {% endfor %}
    </div>
    <div class="row">
             {% if is_paginated %}
                 <div class="col-md-4">
		            <span class="page-links">
		                {% if page_obj.has_previous %}
		                    <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
		                {% endif %}
		                <span class="page-current">
		                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
		                </span>
		                {% if page_obj.has_next %}
		                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
		                {% endif %}
		            </span>
                 </div>
             {% endif %}

          {% else %}
            <div class="alert alert-dark" role="alert">
              Тут пока ничего нет!
            </div>
          {% endif %}  
    </div>
    
     
    </div>
    </div>
</main>
{% endblock %}